@using Attandance.Resource

@{
    ViewBag.Title = "Attandance";
}
<style>
    .cellBg {
        background: red;
        color: red;
    }
</style>
<div class="content">
    <div class="container-fluid">
        @*<div class="header text-center">
                <h3 class="title">FullCalendar.io</h3>
                <p class="category">
                    Handcrafted by our friends from
                    <a target="_blank" href="https://fullcalendar.io/">FullCalendar.io</a>. Please checkout their
                    <a href="https://fullcalendar.io/docs/" target="_blank">full documentation.</a>
                </p>
            </div>*@
        <div class="row">
            @R.M("sdf")
            <div class="col-md-10 col-md-offset-1">
                <div class="card card-calendar">
                    <div class="card-content ps-child">
                        <div id="fullCalendar"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="margin-top: 50px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="material-icons">clear</i>
                        </button>
                        <h3 class="modal-title text-center">Ramesh kumar </h3>
                        
                    </div>
                    <div class="modal-body">
                        <table cellpadding="10" border="0" align="center" width="70%">
                            <tr>
                                <td class="text-right" style="padding: 10px;"><b> IN TIME :&nbsp;&nbsp;</b></td>
                                <td class="text-center"> <span class=" btn-sm btn-success"><b> 09:35 AM </b></span> </td>
                                <td class="text-right"> <b> OUT TIME :&nbsp;&nbsp;</b> </td>
                                <td class="text-center"><span class="btn-sm btn-success"><b>10:15 PM</b></span></td>
                            </tr>
                            <tr>
                                <td class="text-right" style="padding: 10px;"><b> LATE :&nbsp;&nbsp;</b></td>
                                <td class="text-center"> <span class="btn-sm btn-warning"><b> 09:35 </b></span></td>
                                <td class="text-right"><b> EARLY GOING :&nbsp;&nbsp;</b></td>
                                <td class="text-center"> <span class="btn-sm btn-info"><b>10:15</b></span></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-center" style="padding: 10px;"><b> EFFECTIVE :&nbsp;&nbsp;</b>  </td>
                                <td colspan="2"><span class="btn-sm btn-primary"><b> 09:35 </b></span>&nbsp;&nbsp;&nbsp;<b>hrs</b></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-center" style="padding: 10px;"><b>PERMISSION :&nbsp;</b> </td>
                                <td colspan="2"><span class="btn-sm btn-primary"><b> 09:35 </b></span>&nbsp;&nbsp;&nbsp;<b>hrs</b></td>
                            </tr>

                        </table>
                        @*<p>
                                <b> IN TIME :&nbsp;&nbsp;</b> <span class="btn-sm btn-success"><b> 09:35 AM </b></span>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <b> OUT TIME :&nbsp;&nbsp;</b> <span class="btn-sm btn-success"><b>10:15 PM</b></span>
                            </p>
                            <p>
                                <b> LATE :&nbsp;&nbsp;</b> <span class="btn-sm btn-warning"><b> 09:35 </b></span>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <b> EARLY GOING :&nbsp;&nbsp;</b> <span class="btn-sm btn-rose"><b>10:15</b></span>
                            </p>
                            <p>
                                <b> EFFECTIVE :&nbsp;&nbsp;</b> <span class="btn-sm btn-primary"><b> 09:35 </b></span>&nbsp;&nbsp;&nbsp;<b>hrs</b>
                            </p>
                            <p>
                                <b> PERMISSION :&nbsp;</b> <span class="btn-sm btn-primary"><b> 09:35 </b></span>&nbsp;&nbsp;&nbsp;<b>hrs</b>
                            </p>*@
                        <p><h4 style="border-bottom: 1px solid #e9ecef;" class="text-left">Leave Applied</h4> </p>
                        <div class="card-content table-responsive text-left">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                <th>ID</th>
                                <th>Leave Type</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Action</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>CL</td>
                                        <td>03-Aug-2018</td>
                                        <td>03-Aug-2018</td>
                                        <td><button type="button" rel="tooltip" title="" class="btn-danger btn-link btn-sm" data-original-title="Cancel"> <i class="material-icons">close</i> </button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @*<div class="modal-footer">
                            <button type="button" class="btn btn-simple">Nice Button</button>
                            <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<!--   Core JS Files   -->
<script src="~/Theme/assets/js/jquery-3.2.1.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>

<script src="~/Theme/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Theme/assets/js/material.min.js" type="text/javascript"></script>
<script src="~/Theme/assets/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>

<!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

<!-- Library for adding dinamically elements -->
@*<script src="~/Theme/assets/js/arrive.min.js" type="text/javascript"></script>*@

<!-- Forms Validations Plugin -->
<script src="~/Theme/assets/js/jquery.validate.min.js"></script>

<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="~/Theme/assets/js/moment.min.js"></script>

<!--  Charts Plugin, full documentation here: https://gionkunz.github.io/chartist-js/ -->
<script src="~/Theme/assets/js/chartist.min.js"></script>

<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
<script src="~/Theme/assets/js/jquery.bootstrap-wizard.js"></script>

<!--  Notifications Plugin, full documentation here: http://bootstrap-notify.remabledesigns.com/    -->
<script src="~/Theme/assets/js/bootstrap-notify.js"></script>

<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
<script src="~/Theme/assets/js/bootstrap-datetimepicker.js"></script>

<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
<script src="~/Theme/assets/js/jquery-jvectormap.js"></script>

<!-- Sliders Plugin, full documentation here: https://refreshless.com/nouislider/ -->
<script src="~/Theme/assets/js/nouislider.min.js"></script>

<!--  Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="~/Theme/assets/js/jquery.select-bootstrap.js"></script>

<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
<script src="~/Theme/assets/js/jquery.datatables.js"></script>

<script src="~/Theme/assets/js/jquery.spinner.js"></script>

<!-- Sweet Alert 2 plugin, full documentation here: https://limonte.github.io/sweetalert2/ -->
<script src="~/Theme/assets/js/sweetalert2.js"></script>

<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="~/Theme/assets/js/jasny-bootstrap.min.js"></script>

<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
<script src="~/Theme/assets/js/fullcalendar.min.js"></script>

<!-- Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="~/Theme/assets/js/jquery.tagsinput.js"></script>

<!-- Material Dashboard javascript methods -->
<script src="~/Theme/assets/js/material-dashboard.js?v=1.2.1"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="~/Theme/assets/js/demo.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $calendar = $('#fullCalendar');

        today = new Date();
        y = today.getFullYear();
        m = today.getMonth();
        d = today.getDate();

        $calendar.fullCalendar({
           
            editable: false,
            customButtons: {
                Leave: {
                    text: 'Leave',
                    click: function () {
                        alert('clicked the Leave button!');
                    }
                }, Permission: {
                    text: 'Permission',
                    click: function () {
                        alert('clicked the Permission button!');
                    }
                },
                Onduty: {
                    text: 'Onduty',
                    click: function () {
                        alert('clicked the Onduty button!');
                    }
                }
            },
            height: 600,
            viewRender: function (view, element) {
                // We make sure that we activate the perfect scrollbar when the view isn't on Month
                if (view.name != 'month') {
                    $(element).find('.fc-scroller').perfectScrollbar();
                }
            },
            header: {
                left: 'title',
                center: 'Leave,Permission,Onduty',
                right: 'today,prev,next',

            },
            defaultDate: today,

            selectable: true,
            selectHelper: false,

            views: {
                month: { // name of view
                    titleFormat: 'MMMM YYYY',
                    // other view-specific options here
                    fixedWeekCount: false,
                },



            },

            select: function (start, end) {


                $('.modal-title').html('<p>' + moment(start).format("DD/MMM/YYYY") + '</p>')
                //$('.modal-body').html("<p class='btn-sm btn-success'>IN TIME </p> - 10:25 AM || OUT TIME : 08:25 PM")
                getEvents(start)
                $('#myModal').modal('show');

                // on select we show the Sweet Alert modal with an input
                //swal({
                //    title: 'Create an Event',
                //    html: '<div class="form-group">' +
                //        '<input class="form-control" placeholder="Event Title" id="input-field">' +
                //        '</div>',
                //    showCancelButton: true,
                //    confirmButtonClass: 'btn btn-success',
                //    cancelButtonClass: 'btn btn-danger',
                //    buttonsStyling: false
                //}).then(function (result) {

                //    var eventData;
                //    event_title = $('#input-field').val();

                //    if (event_title) {
                //        eventData = {
                //            title: event_title,
                //            start: start,
                //            end: end,
                //        };
                //        $calendar.fullCalendar('renderEvent', eventData, true); // stick? = true
                //    }

                //    $calendar.fullCalendar('unselect');

                //});
            },
            eventLimit: true, // allow "more" link when too many events
            eventRender: function (event, element, view) {
                var eventDate = event.start;
                event.displayEventTime = false;
                var calendarDate = $calendar.fullCalendar('getDate');
                if (eventDate.get('month') !== calendarDate.get('month')) {
                    return false;
                }
                if (event.start._d.getMonth() !== $calendar.fullCalendar('getDate')._d.getMonth()) {
                    return false;
                    selectable: false
                }
                $('.fc-day[data-date="' + eventDate + '"]').css('background', 'green')
            },
            dayRender: function (date, cell) {
                var today = $.fullCalendar.moment();
                if (cell.data('date') == '2018-08-25') {
                    cell.css("background", "#e8e8e8");
                }
                if (date.isSame('2018-08-31', 'day')) {

                }
            },

            events: "/Attandance/Home/CalendarBind",
            disableDragging: true,

            //events: function (start, end, timezone, callback) {
            //    displayEventTime: false
            //    $.ajax({
            //        url: ,
            //        type: 'POST',
            //        success: function (doc) {
            //            var events = [];
            //            events.push(doc);

            //            callback(events);

            //        }
            //    });

            //},
           
            // color classes: [ event-blue | event-azure | event-green | event-orange | event-red ]
            //eventSources:
            //    [{
            //        //title: 'All Day Event',
            //        //start: new Date(y, m, 1),
            //        //backgroundColor: 'blue',
            //        url: "/Manage/Home/LoadDatsa",
            //        error: function () {
            //            alert('error')
            //        },
            //        success: function (event) {
            //            var events = [];
            //            event = event;
            //            alert("successful: You can now do your stuff here. You dont need ajax. Full Calendar will do the ajax call OK? ");
            //            events.push(event)
            //            callback(events);
            //        },

            //    }],

            //events: [{
            //    title: 'Permission 08:25 PM',
            //    start: new Date('2018-08-25'),
            //    end: new Date(y, m, 26),
            //    url: '',
            //    className: 'event-rose',
            //}],
            //{
            //    id: 999,
            //    title: 'Repeating Event',
            //    start: new Date(y, m, 1),
            //    allDay: false,
            //    className: 'event-rose'
            //},
            //{
            //    id: 999,
            //    title: 'Repeating Event',
            //    start: new Date(y, m, d + 3, 6, 0),
            //    allDay: false,
            //    className: 'event-rose'

            //},
            //{
            //    title: 'Meeting',
            //    start: new Date(y, m, d - 1, 10, 30),
            //    allDay: false,
            //    className: 'event-green',
            //},
            //{
            //    title: 'Lunch',
            //    start: new Date(y, m, d + 7, 12, 0),
            //    end: new Date(y, m, d + 7, 14, 0),
            //    allDay: true,
            //    className: 'event-colored',
            //},
            //{
            //    title: 'Md-pro Launch',
            //    start: new Date(y, m, d - 2, 12, 0),
            //    allDay: true,
            //    className: 'event-azure',
            //},
            //{
            //    title: 'Birthday Party',
            //    start: new Date(y, m, d + 1, 19, 0),
            //    end: new Date(y, m, d + 1, 22, 30),
            //    allDay: false,
            //    className: ['event-colored', 'event-default'],
            //    backgroundColor: 'red',
            //    color: 'green'

            //},
            //{
            //    title: '09:12 AM',
            //    start: new Date(y, m, 24, +1, 10, 30),
            //    //end: new Date(y, m, 22),
            //    url: 'http://www.creative-tim.com/',
            //    className: 'event-orange'
            //},
            //{
            //    title: 'Click for Google',
            //    start: new Date(y, m, 22 - 1, 10, 30),
            //    end: new Date(y, m, 22),
            //    url: 'http://www.creative-tim.com/',
            //    className: 'event-orange',
            //},
            // {
            //     title: 'jEffective : 08:25 hrs',
            //     start: new Date('2018-08-25'),
            //     //end: new Date(y, m, 26),
            //     url: 'http://www.creative-tim.com/',
            //     className: 'event-green'
            // },
            //  {
            //      title: 'IN - 09:13 PM | OUT - 08:25 PM',
            //      start: new Date('2018-08-25'),
            //      //end: new Date(y, m, 26),
            //      url: '',
            //      className: 'event-rose',
            //  },
            //   {
            //       title: 'Permission 08:25 PM',
            //       start: new Date('2018-08-25'),
            //       //end: new Date(y, m, 26),
            //       url: '',
            //       className: 'event-rose',
            //   },


            //timeFormat: 'H(:mm) Tt',

        });

        function getEvents(date) {

                $.ajax({
                    url: "/Attandance/Home/CalendarBind",
                    type: 'POST',
                    success: function (doc) {
                        doc.forEach(function (entry) {
                            if (entry['start'] == date.format()) {
                                alert(entry['title']);
                            }
                            else if (entry['start'] <= date.format() && entry['end'] >= date.format()) {
                                alert(entry['title']);
                            }
                        });
                    }
                });
           

        }


        // demo.initFullCalendar();
    });
</script>